target/
logs/

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
.DS_Store

.idea/
.idea_modules/

src/main/webapp/static/css/styles*

.cache
.classpath
.project
.settings/
.buildpath
.history
src/main/webapp/static/js/compiled/
.~lock*
.vagrant*
dump/

MacBook-Pro-Alexander.local.props
.user
test.csv

